.experiences {
	position: relative;

	.section {
		&--hero {
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;

			&__main {
				max-width: 1400px;
				margin: 0 auto;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				h1 {
					max-width: 800px;
					text-align: center;
				}

				p {
					font-family: var(--font-satoshi) !important;
					max-width: 844px;
					font-size: 18px;
					text-align: center;
				}
			}
		}

		&--grid {
			min-height: auto;
			background-color: #e7e7e7;
			padding-block: var(--padding-block-sm);
		}

		&--detail-hero {
			min-height: auto;
		}
	}
}

[data-theme="dark"] .experiences {
	.section--grid {
		background-color: var(--dark);
	}
}
